---
layout: false
---
<!DOCTYPE html>
<html lang="<%= config.site.language %>">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page.title %></title>
    <%- css('asset/styles/view') %>
</head>

<body>
    <header class="layout-header">
        <h1>
            <%= page.title %>
        </h1>
    </header>
    <main class="layout-main">
        <div class="editor-parent">
            <div class="editor-item">
                <div class="editor-title">
                    <div>html</div>
                </div>
                <div id="html-edit" class="editor-container"> </div>
            </div>
            <div class="editor-item">
                <div class="editor-title">
                    <div>css</div>
                </div>
                <div id="css-edit" class="editor-container"> </div>
            </div>
            <div class="editor-item">
                <div class="editor-title">
                    <div>js</div>
                </div>
                <div id="js-edit" class="editor-container"></div>
            </div>
        </div>
        <div class="resizer"></div>
        <div class="output-container">
            <iframe id="result_iframe" src="" frameborder="0" class="result-iframe"></iframe>
        </div>
    </main>
    <footer class="layout-footer">
        <a>code-show</a>
    </footer>
    <%- js(['asset/script/monaco-editor/vs/loader.js','asset/script/monaco-editor/lib/css-format-monaco.min.js']) %>
    <script>
        require.config({ paths: { 'vs': `<%- url_format('asset/script/monaco-editor/vs') %>` } });
        require(['vs/editor/editor.main'], function () {
            cssFormatMonaco(monaco);
            const config = {
                lineNumbers: false,
                automaticLayout: true,
                fontSize: 16,
                theme: 'vs-dark',
                minimap: {
                    enabled: false
                }
            };
            const jsedit = monaco.editor.create(document.getElementById('js-edit'), {
                ...config,
                value: `<%- page.code.javascript %>`,
                language: 'javascript',
            });
            const htmledit = monaco.editor.create(document.getElementById('html-edit'), {
                ...config,
                value: `<%- page.code.html %>`,
                language: 'html',
            });
            const cssedit = monaco.editor.create(document.getElementById('css-edit'), {
                ...config,
                value: `<%- page.code.css %>`,
                language: 'css',
            });

            function run() {
                const iframe_body = document.getElementById('result_iframe').contentWindow.document.body
                iframe_body.innerHTML = `<style>${cssedit.getValue()}</style>${htmledit.getValue()}`
                const script = document.createElement("script");
                script.type = "text/javascript";
                script.id = "run_js"
                try {
                    script.appendChild(document.createTextNode(jsedit.getValue()));
                }
                catch (ex) {
                    script.text = jsedit.getValue();
                }
                iframe_body.appendChild(script)
            }

            run()

            //edit.getAction(['editor.action.formatDocument'])._run()
            jsedit.addCommand(monaco.KeyCode.F5, run)
            htmledit.addCommand(monaco.KeyCode.F5, run)
            cssedit.addCommand(monaco.KeyCode.F5, run)
        });
    </script>
</body>

</html>