<head>
    <%- include('head') %>
    <%- css('asset/styles/editor') %>
</head>

<body>
    <header class="layout-header">
        <h1>
            <%= page.title %>
        </h1>
    </header>
    <main class="layout-main">
        <div class="editor-parent" id="editor-parent"></div>
        <div class="resizer"></div>
        <div class="output-container">
            <iframe id="result_iframe" srcdoc="" frameborder="0" class="result-iframe"></iframe>
        </div>
    </main>
    <%- js([
        'asset/script/monaco-editor/vs/loader.js',
        'asset/script/monaco-editor/lib/css-format-monaco.min.js',
        'asset/script/editor/index.min.js']) %>
    <script>
        new VEditor(<%-JSON.stringify(page.code)%>, {
            vs_path: `<%- url_format('asset/script/monaco-editor/vs') %>`,
        }).init().then(()=>{
            cssFormatMonaco(monaco);
        })
    </script>
</body>