---
layout: false
---
<!DOCTYPE html>
<html lang="<%= config.site.language %>">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= config.site.title %>
    </title>
    <%- css('asset/styles/index') %>
</head>

<body>
    <%- include('header') %>
    <div class="code-list">
        <% page.codes.forEach((code)=>{ %>
            <div class="code-item">
                <div class="code-ifr">
                    <iframe src="<%= url_format(code.route_url) %>" sandbox="allow-scripts allow-same-origin" scrolling='no'></iframe>
                    <!-- <a class="btn-editor" href="<%= url_format(code.route_url)+'editor' %>" target="_blank"></a> -->
                </div>
                <div class="code-info">
                    <h4>
                        <a href="<%= url_format(code.route_url) %>" target="_blank">
                            <%= code.title %>
                        </a>
                    </h4>
                    <p class="small">
                        <%= code.description %>
                    </p>
                </div>
            </div>
            <% }) %>
    </div>
    <%- paginator() %>
    <script src="//cdn.jsdelivr.net/npm/lodash@4.17.19/lodash.min.js"></script>
</body>

</html>