---
layout: false
---
<!DOCTYPE html>
<html lang="<%= config.site.language %>">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= page.title %>
    </title>
    <%- js(page.cdn) %>
    <%- tag('style', page.code.css) %>
</head>

<%- tag('body',{style:'padding: 0;margin: 0;'}, [page.code.html,tag('script', page.code.javascript)]) %>

</html>